.container{
    background-color: #1d1a1f;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.innercontainer{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    
}
.nav ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    

}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: lato;
}
li{
    font-size: 20px;
    font-weight: 350;
    font-family: lato;
    color: #fff;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-family: lato;
    color: #8dda6e;
}

